body {
 // background-color: crimson;
  //background-image: url('./../assets/cat.jpg');
  //background-size: 200px 200px;
}
.container {
	background-color:#2e878a;
	max-width:400px;
	height: 10rem;
	display:flex;
	justify-content: center;
	align-items:center;
	border-radius:20px;
}
.calc {
max-width: 80%;
	.calc__input {
		border-radius: 5px;
	}
	.calc_padding {
		padding: 5px 10px;
	}
	.calc__result {
		background-color: white;
		border-radius: 5px;;
	}
	.calc__equal {
		margin: 0 10px;
	}
}
.calc__calculate {
	margin-top: 0.5rem;
	background-color: #2e879a;
	color: white;
}
