@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
	font-family: "Roboto italic";
	src: url("../fonts/Roboto-Italic.ttf");
}
@font-face {
	font-family: "Roboto Bold";
	src: url("../fonts/Roboto-Bold.ttf");
}
body {
	font-size: calc(0.75rem + 0.83vw);
}
.container {
	max-width:1440px;
}

.header {
	max-width:100%;
	background: 
		url("../img/background_phone.png") no-repeat 85% bottom,
		url("../img/background_header.png") no-repeat;
	background-size: auto 80%, cover;
	height: 600px;
}
.header-block {
	width:30%;
	position: relative;
    top: 50%;
    left:17%;
    transform: translateY(-50%);
}
.header-block__description {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #FFF;
}
.header-block__icons {
	padding-top: 0.83em;
}
.header-block__icon {
	display:inline-block;
	width: 2.08em;
	height: 2.08em;
	opacity:0.6;
	border-radius: 50%;
}
.header-block__icon_mgr{
	margin-right: 0.625em;
}
.header-block__ios {
	background: url("../img/icon/icon1_header.svg") no-repeat center, #000;
}
.header-block__android {
	background: url("../img/icon/icon2_header.svg") no-repeat center, #000;
}
.header-block__windows {
	background: url("../img/icon/icon3_header.svg") no-repeat center, #000;
}
.header-block__icon:hover {
	background-color: #2ECC71;
	cursor: pointer;
}

.section1 {
	display: flex;
	justify-content: space-around;
}
.section1__item {
	flex-basis: 25%;
	padding:2em 0;
	text-align:center;
}
.section1__icon_center {
	margin: 0 auto;
}
.section1__icon {
	width:5em;
	height: 5em;
	border-radius: 50%;
}
.section1__icon1{
	background: url("../img/icon/icon1_main_section.png")  no-repeat center, #2ECC71;
}
.section1__icon2{
	background: url("../img/icon/icon2_main_section.png")  no-repeat center, #2ECC71;
}
.section1__icon3{
	background: url("../img/icon/icon3_main_section.png")  no-repeat center, #2ECC71;
}
.section-title {
	font-family: 'Roboto Bold', sans-serif;
	font-size: 0.92em;
	line-height: 1.08em;
	text-align: center;
	padding:0.833em;
}
.section-text {
	font-family: 'Roboto', sans-serif;
	font-size: 0.67em;
	line-height: 1.08em;
	color: #696969;
}
.section2 {
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #DAE0E5;
}
.section2-text {
	padding-bottom: 0.833em;
}

.section2__div {
	flex-basis: 35%;
	padding: 2.5em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.section2__video {
	
}
.form-notify {
	display: flex;
	width: 80%;
}
.form-notify__input {
	font-family: Roboto;
	font-size: 0.75em;
	line-height: 1.083em;
	color: #B7B7B7;
	background: #FFFFFF;
	border: 1px solid #B7B7B7;
	border-right: none; 
	box-sizing: border-box;
	border-radius: 0.625em 0 0 0.625em;
	padding: 0.625em 0 0.583em 1.25em;
}
.form-notify__button {
	font-family: Roboto Bold;
	font-size: 0.917em;
	text-align: center;
	color: #FFFFFF;
	background: #2ECC71;
	border-radius: 0 0.625em  0.625em 0;
	border:none;
	outline: none;
	padding: 0.625em 1.25em;
}

@media screen and (max-width: 680px) {
	.header-block {
		width:60%;
	}
	.section2__div{
		flex-basis: 85%;
	}
	.section2__video {
		 width:100%
	};
}
@media screen and (max-width: 450px) {
	.header-block {
		width:85%;
		left:7%;
	}
	.section1 {
		flex-direction: column;
	}

}
