@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
	font-family: "Roboto Italic";
	src: url("../fonts/Roboto-Italic.ttf");
}
@font-face {
	font-family: "Roboto Bold";
	src: url("../fonts/Roboto-Bold.ttf");
}
* {
	margin:0;
	padding: 0;
}
body {
	font-size: calc(0.75rem + 0.83vw);
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
.container {
	max-width:1440px;
	margin: 0 auto;
}

.header {
	max-width:100%;
	background: 
		url("../img/background_phone.png") no-repeat 85% bottom,
		url("../img/background_header.png") no-repeat;
	background-size: auto 80%, cover;
	height: 600px;
}
.header-block {
	width:30%;
	position: relative;
    top: 50%;
    left:17%;
    transform: translateY(-50%);
}
.header-block__description {
	font-size: 1em;
	line-height: 1.5em;
	color: #FFF;
}
.header-block__icons {
	padding-top: 0.83em;
}
.header-block__icon {
	display:inline-block;
	width: 2.08em;
	height: 2.08em;
	opacity:0.6;
	border-radius: 50%;
}
.header-block__icon_mgr{
	margin-right: 0.625em;
}
.header-block__ios {
	background: url("../img/icon/icon1_header.svg") no-repeat center, #000;
}
.header-block__android {
	background: url("../img/icon/icon2_header.svg") no-repeat center, #000;
}
.header-block__windows {
	background: url("../img/icon/icon3_header.svg") no-repeat center, #000;
}
.header-block__icon:hover {
	background-color: #2ECC71;
	cursor: pointer;
}

.section1 {
	display: flex;
	justify-content: space-around;
}
.section1__item {
	flex-basis: 25%;
	padding:2em 0;
	text-align:center;
}
.section1__icon_center {
	margin: 0 auto;
}
.section1__icon {
	width:5em;
	height: 5em;
	border-radius: 50%;
}
.section1__icon1{
	background: url("../img/icon/icon1_main_section.png")  no-repeat center, #2ECC71;
}
.section1__icon2{
	background: url("../img/icon/icon2_main_section.png")  no-repeat center, #2ECC71;
}
.section1__icon3{
	background: url("../img/icon/icon3_main_section.png")  no-repeat center, #2ECC71;
}
.section-title {
	font-family: 'Roboto Bold', sans-serif;
	font-size: 0.92em;
	line-height: 1.08em;
	text-align: center;
	padding:0.833em;
}
.section-text {
	font-family: 'Roboto', sans-serif;
	font-size: 0.67em;
	line-height: 1.08em;
	color: #696969;
}
.section2 {
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #DAE0E5;
}
.section2-text {
	padding-bottom: 0.833em;
}

.section2__div {
	flex-basis: 35%;
	padding: 2.5em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.section2__video {
	width:100%
}
.form-notify {
	display: flex;
	width: 80%;
}
.form-notify__input {
	font-size: 0.75em;
	line-height: 1.083em;
	color: #B7B7B7;
	background: #FFFFFF;
	border: 1px solid #B7B7B7;
	border-right: none; 
	box-sizing: border-box;
	border-radius: 0.625em 0 0 0.625em;
	padding: 0.625em 0 0.583em 1.25em;
}
.form-notify__button {
	font-family: Roboto Bold;
	font-size: 0.917em;
	text-align: center;
	color: #FFFFFF;
	background: #2ECC71;
	border-radius: 0 0.625em  0.625em 0;
	border:none;
	outline: none;
	padding: 0.625em 1.25em;
}


.section3__quote{
	font-family: "Roboto Italic", sans-serif;
	font-size: 0.75em;
	line-height: 1.25em;
	color: #696969;
	quotes: "\201c" "\201d";
}
.section3 {
	display:flex;
	justify-content: center;
	flex-direction: column;
	width:75%;
	padding:2.5em 0 3.15em;
	margin: 0 auto;
}
.slider-photo {
	text-align: center;
	padding-top: 2.75em;
}
.section3__p {
	text-align: center;

}
.slider-photo__photos {
	display:flex;
	justify-content: center;
	overflow-x: hidden;
}
.slider-photo__name {
	font-size: 0.75em;
	line-height: 1.083em;
	color: #111111;
}
.slider-photo__title {
	font-family: Roboto Bold;
	font-size: 1em;
	line-height: 1.08em;
	color: #111111;
	padding: 2.5em 0 0.833em;
}
.slider-photo__name {
	font-family: 'Roboto Bold', sans-serif;
	font-size: 0.75em;
	line-height: 1.083em;
	padding-bottom: 0.833em;
}
.slider-photo__item {
	width: 59px;
	height: 60px;
	background: url('../img/photo/photo1.png');
	margin-right: 0.21em;
}
.slider-photo_first {
	background: linear-gradient(-270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url('../img/photo/photo1.png');
}
.slider-photo_last {
	background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url('../img/photo/photo1.png');
	margin-right:0;
}
.slider-photo__item_active {
	background: linear-gradient(270deg, rgba(46, 204, 113, 0.5) 0%, rgba(46, 204, 113, 0.5) 100%), url('../img/photo/photo1.png');
}
.footer {
	background-color: #DAE0E5; 
}
.footer__ul {
	display: flex;
	justify-content: center;
}
.footer__ul__li {
	padding: 1.667em 0.834em; 
	list-style: none;
}
.footer__link{
	text-decoration: none;
	font-size: 0.667em;
	line-height: 1.083em;
	color: #696969;
}

@media screen and (max-width: 680px) {
	.header-block {
		width:60%;
	}
	.section2__div{
		flex-basis: 85%;
	}
	
}
@media screen and (max-width: 450px) {
	.header-block {
		width:85%;
		left:7%;
	}
	.section1 {
		flex-direction: column;
	}
	.footer__ul {
		flex-direction: column;
		
	}
	.footer__ul__li {
		padding: 0.25em 0;
		text-align: center; 
	}

}
