.filters {
	display:flex;
	justify-content: space-around;
    padding: 0.2rem 1rem;
}
.filters_button {
    padding: 0.3rem 0.5rem;
    border-radius: 7px;
    border:none;
    background-color: rgba(80,227,164, 0.95);
    color:white;
    cursor:pointer;
}
.filters__not-finished.active, .filters__not-finished:hover {
        background-color: rgb(40,157,154);
}
.filters__out-dated.active, .filters__out-dated:hover {
    background-color: rgb(40,157,154);
}
.filters__tomorrow.active, .filters__tomorrow:hover {
    background-color: rgb(40,157,154);
}